<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.omoknoone.omokhub.user.query.repository.MemberMapper">

    <resultMap id="memberResultMap" type="org.omoknoone.omokhub.user.query.dto.MemberDTO">
        <id property="memberId" column="MEMBER_ID"/>
        <result property="name" column="NAME"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="email" column="EMAIL"/>
        <result property="phoneNum" column="PHONE_NUM"/>
        <result property="address" column="ADDRESS"/>
        <result property="birthday" column="BIRTHDAY"/>
        <result property="profileCount" column="PROFILE_COUNT"/>
    </resultMap>

    <select id="selectMemberInfoByMemberId" parameterType="string" resultMap="memberResultMap">
        SELECT
            MEMBER_ID ,
            NAME ,
            NICKNAME ,
            EMAIL ,
            PHONE_NUM ,
            ADDRESS ,
            BIRTHDAY
        FROM
            member
        WHERE
            IS_WITHDRAW = 0
            AND MEMBER_ID = #{memberId}
    </select>

    <select id="selectMemberIdByNickname" parameterType="string" resultMap="memberResultMap">
        SELECT
            NICKNAME ,
            MEMBER_ID
        FROM
            MEMBER
        WHERE
            IS_WITHDRAW = 0
            AND NICKNAME = #{nickname}
    </select>

    <select id="selectProfileCountByMemberId" parameterType="string" resultType="_int">
        SELECT
            COUNT(*) AS 'PROFILE_COUNT'
        FROM
            MEMBER A
        JOIN PROFILE B ON (A.MEMBER_ID = B.MEMBER_ID)
        WHERE
            A.MEMBER_ID = #{memberId}
        GROUP BY A.MEMBER_ID
    </select>
</mapper>