<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.omoknoone.omokhub.projectmember.query.repository.ProjectMemberMapper">

    <resultMap id="TemMemberInfo1" type="org.omoknoone.omokhub.projectmember.query.entity.dto.ProjectMemberDTO">
        <id property="teamName" column="TEAM_NAME"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="memberCategory" column="MEMBER_CATEGORY"/>
    </resultMap>
    <select id="getTeamMemberInfo" resultMap="TemMemberInfo1" parameterType="String">
        SELECT
               B.TEAM_NAME
             , C.NICKNAME
             , A.MEMBER_ID
             , A.MEMBER_CATEGORY
          FROM PROJECT_MEMBER A
          JOIN PROJECT_TEAM B ON (A.PROJECT_TEAM_ID = B.PROJECT_TEAM_ID)
          JOIN MEMBER C ON (A.MEMBER_ID = C.MEMBER_ID)
         WHERE B.TEAM_NAME = #{putTeamName}
    </select>
</mapper>